[submodule "LuaJIT"]
path = luajit
url = https://github.com/moonjit/moonjit

[submodule "raylib"]
path = raylib
url = https://github.com/TSnake41/raylib

[submodule "raygui"]
path = raygui
url = https://github.com/raysan5/raygui

[submodule "examples/lynx"]
path = examples/lynx
url = https://gitlab.com/TSnake41/lynx.git
