[submodule "LuaJIT"]
path = luajit
url = https://github.com/moonjit/moonjit

[submodule "raylib"]
path = raylib
url = https://github.com/TSnake41/raylib

[submodule "ragui"]
path = raygui
url = https://github.com/raysan5/raygui
